<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VideoAssetsPath" value="C:\Users\Public\Videos\Sample Videos"/>
    <add key="PhotoAssetsPath" value="C:\Users\Public\Pictures\Sample Pictures"/>
    <add key="NoTouchClearScreenTimer" value="600"/>
    <add key="EnableDebug" value="false"/>
  </appSettings>
</configuration>