<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- if not empty this becomes the background image -->
    <add key="BackgroundImagePath" value=""/>
    <add key="VideoAssetsPath" value="C:\Users\Public\Videos\Sample Videos"/>
    <add key="PhotoAssetsPath" value="C:\Users\Public\Pictures\Sample Pictures"/>
    <add key="MaximumAssetWidth" value="960"/>
    <!-- Time in seconds where if no touch received we will reset the screen -->
    <add key="NoTouchClearScreenTimer" value="900"/>
    <add key="NoTouchThrobTimer" value="5"/>
    <add key="EnableDebug" value="false"/>
  </appSettings>
</configuration>